{% extends 'home.twig' %}

{% block title %}Gallery{% endblock %}

{% block content %}
	<div class="gallery-content-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">

					{% if message %}
						<div class="alert alert-success text-center" role="alert" id="register-user-flash-message" style="position: absolute;bottom: -75px;">
							{{ message }}
						</div>
					{% endif %}
					
					<form method="POST" action="/gallery/create" id="gallery-form">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" name="name" id="name" class="form-control" placeholder="Gallery name..." autocomplete="off" minlength="3" maxlength="30">
							<small class="form-text text-muted" id="name-help">Enter your gallery name.</small>
						</div>
						<div class="form-group">
							<label for="description">Description:</label>
							<textarea class="form-control" name="description" id="description" placeholder="Gallery description..." rows="5"></textarea>
							<small class="form-text text-muted" id="description-help">Enter your gallery description.</small>
						</div>
						<input type="submit" class="btn btn-primary" id="gallery-button" value="ADD GALLERY">
						<input type="hidden" value={{ user.id }} name="userID" id="gallery-user-id">
					</form>

				</div>
				<div class="col-md-3">
					{% if galleries %}
						<h5 style="margin-bottom: 15px;">Gallery list:</h5>
						{% for gallery in galleries %}
							<p> -> <a href="javascript:void(0)" onclick="getGalleryData({{ gallery.id }})">{{ gallery.name }}</a></p>
						{% endfor %}
					{% else %}
						<h5>No Galleries found.</h5>
					{% endif %}

					<div id="gallery-form-wrapper" style="display: none;">
						<hr>
						<form method="POST" action="/gallery/upload" enctype="multipart/form-data" id="gallery-img-upload">
							<div class="form-group">
								<label for="galleryImages">Upload images:</label>
								<input type="file" name="galleryImages[]" id="galleryImages" class="form-control-file" multiple="multiple">
								<small class="text-muted form-text" id="upload-img-help">Upload your images.</small>
							</div>
							<input type="hidden" name="galleryID" value="" id="galleryID">
							<input type="hidden" name="userDataID" value="{{ user.id }}">
							<input type="submit" value="UPLOAD" class="btn btn-primary btn-sm" id="gallery-image-upload">
						</form>
					</div>

				</div>
				<div class="col-md-5">
					<div class="row" id="images-wrapper">
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}

{% block scripts %}
	<script src="js/gallery.js"></script>
	<script src="js/flash-message.js"></script>
{% endblock %}